---
import { type InferEntrySchema, type RenderedContent } from "astro:content";
interface Props {
  post: {
    id: string;
    body?: string;
    collection: "blog";
    data: InferEntrySchema<"blog">;
    rendered?: RenderedContent;
    filePath?: string;
  };
}
import Layout from "./Layout.astro";
import { Image } from "astro:assets";
const { post } = Astro.props;
---

<Layout title={post.data.title}>
  <Image width="1281" height="721" src={post.data.image.url} alt={post.data.image.alt} />
  <h1 class="page-title">{post.data.title}</h1>
  <p>Written by {post.data.author}</p>
  <p>Published: {post.data.pubDate.toLocaleDateString("fi-FI")}</p>
  <ul class="flex justify-center items-center gap-5">
      <li class="font-bold text-xl">
          <h2>Tags:</h2>
      </li>
    {post.data.tags.map((tag) => <li class="rounded-full shadow-md border px-3 py-1 bg-slate-950/40">{tag}</li>)}
  </ul>

  <slot />
</Layout>
