---
import { type InferEntrySchema, type RenderedContent } from "astro:content";
interface Props {
  post: {
    id: string;
    body?: string;
    collection: "blog";
    data: InferEntrySchema<"blog">;
    rendered?: RenderedContent;
    filePath?: string;
  };
}
import Layout from "./Layout.astro";
import { Image } from "astro:assets";
const { post } = Astro.props;
---

<Layout title={post.data.title}>
  <Image width="1281" height="721" src={post.data.image.url} alt={post.data.image.alt} />
  <h1 class="page-title">{post.data.title}</h1>
  <p>Written by {post.data.author}</p>
  <p>Published: {post.data.pubDate.toLocaleDateString("fi-FI")}</p>
  <ul class="flex flex-wrap items-center justify-center gap-5">
    <li class="text-xl font-bold">
      <h2>Tags:</h2>
    </li>
    {
      post.data.tags.map((tag) => (
        <li class="rounded-full border bg-slate-950/40 px-3 py-1 shadow-md">
          <a href={`/tags/${tag}`}>{tag}</a>
        </li>
      ))
    }
  </ul>

  <slot />
</Layout>
